@import url(https://fonts.google.com/specimen/Bebas+Neue);

body {
  margin: 0;
  padding: 0;
}

/* PAGINA DE INICIO*/

.pagina-inicio {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background : linear-gradient(to bottom right, #525050, #520b0b);
  background-size: cover;
  background-position: center;
}

.pagina-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen-principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  z-index: -1;
}

/*navbar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.navbar-lista{
  display: flex;
  gap: 20px;
}

/*Contenido Principal*/
.contenido-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 2vh;
  z-index: 1;
}

.titulo-inicio{
  color: aliceblue;
  font-family: 'Bebas+Neue';
}

/*Boton de inicio*/


.boton-comic {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    scale: 0.9;
    align-self: center;
    z-index: 2;
  }
  
  .boton.comic:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
    scale: 1;
  }
  
  .boton-comic:active {
    background-color: #fdf854;
    box-shadow: none;
    transform: translateY(4px);
  }



  /* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 2vh;
  }
  